*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.input-style{
    
        font-size: 12px;
        font-family: 'Verdana', sans-serif;
        font-weight: 400;
        line-height: 1.3;
        padding: 0.4em;
        box-sizing: border-box;
        border: 1px solid rgb(18 255 255);
        box-shadow: 0 1px 0 1px rgb(0 0 0 / 3%);
        border-radius: 10px;
        outline: none;
    
}

.input-style:focus{
    box-shadow: inset 0 0px 6px 2px rgb(18 255 255);
}
.contenedor{

     /* border: 5px solid rgb(212, 54, 54); */
    width: 100vw;
    height: 50%;
    display: flex;
    justify-content: center; 
     /* align-items: center;  */
}
.contenedor-planes{
    /* border: 5px solid black; */
    display: flex;
    flex-direction: row;
    width:100%;
    height: 100%;
}
.planes{
    /* border: 5px solid rgb(131, 112, 18); */
    width:50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
}
.planes-clase{

    margin-top: 18px;
    margin-bottom: 18px;
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    font-size: 18px;
}
.contenedor-planes_titulo{
    /* border: 5px solid rgb(131, 65, 18); */
    width:50%;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

/* ----- tabla------ */
.conte-tabla{
    display: flex;
    justify-content: center;
    width: 100%;
    
    /* border: 9px solid yellow; */
}

table{
    width: 100%;
    font-size: 15px;
}
th{
    background: rgb(127, 240, 170);

}
        
        /* ---Modal---- */
       

        .flex{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .modal{
            display: none;
            position: fixed;
            z-index: 5;
            overflow: auto;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.452);
        }
        
        .contenido-modal{
            position: relative;
            background-color: #fefefe;
            margin: auto;
            width: 50%;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
            animation-name: modal;
            animation-duration: 1s;
        }
    
        
        @keyframes modal {
            from {
                top: -330px;
                opacity: 0;
            }
            to {
                top: 0;
                opacity: 1;
            }
        }
        
       
        .close{
            color: #f2f2f2;
            font-size: 30px;
            font-weight: bold;
        }
        
        .close:hover {
            color: #7f8c8d;
            text-decoration: none;
            cursor: pointer;
        }
        
        
        .modal-header{
            padding: 8px 16px;
            background: #55565a;
            color: #f2f2f2;
        }
        
        .modal-body {
            padding: 20px 16px;
        }


        @media screen and (max-width:900px) {
            .contenido-modal{
                width: 70%;
            }
        }
