

*{
    font-family: Arial, Helvetica, sans-serif;
}




/* formulario1 */

/* form1 */
/* 
body{

    border-radius: 15px;
    width: 65%;
    min-width: 1000px;
    max-width: 1000px;
    background-color: rgba(240, 240, 240, 0.89);
} */

.depost{
    position: absolute;
    top: -23px;
    font-size: 25px;
    font-weight: bold;
    background: rgb(37, 24, 49);
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

.empresa-terceros{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1frs;
    width: 100%;
    text-align: center;
}



.menu{

    width: 35%;
    padding: 20px;
}

.container1{
    margin-left: 40px;
    height: 500px;

}


.serie{
    margin-right: 60px;
}

.serie-numero{
    margin-left: 140px;
}


.select-principal{
    width: 185%;
}

.titulo{
    background:rgb(255, 231, 123);
    width: 100%;
    text-align: center;
    padding: 5px;
    min-width: 425px;
}


/* --formularioa */
.form1{

    width: 5%;
    padding: 20px;
    margin-right: 25px;
    height: 20%;
    border-radius: 15px;
    border: 4px dashed black;
    min-width: 420px;
    background: rgb(221, 241, 223);

}
.form1:hover{
    box-shadow: inset 0 0px 20px 2px rgb(105, 158, 83);
}

.comprobante{
    position: static;
    background: rgb(37, 24, 49);
    color: aliceblue;
    font-size: 23px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    bottom: 25px;
}

.operacion2{

    width: 150%;
}

.docum{
    margin: auto;
    display: grid;
    width: 150%;
    grid-template-columns: 1fr 120fr 1fr 1fr;
}


.registrar{
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    padding: 10px;
    background-color: red;
    color: rgb(255, 231, 123);
    border-radius: 10px;
}

.registrar:hover{
    transform: scale(1.1);

}


.empresa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 32%;
}

.concepto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 10%;
}

.monto{

    border: 4px dashed black;
    background: rgb(212, 215, 219);
    width: 50%;

    border-radius: 15px;
    padding: 20px 20px;
    max-width: 470px;
    min-width: 470px;


}


.monto:hover{
    box-shadow: inset 0 0px 20px 2px rgb(105, 158, 83);
}

.monto2, .monto3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.deposito{
    background: rgba(143, 42, 42, 0.815);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
}

.fech-factura{
    width: 130%;
    background: rgba(143, 42, 42, 0.815);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
}


.emp{
    margin-right: 90px;
}
.lblmonto{
    margin-right: 100px;
}

/* .observacion{
    position: relative;
    right: 420px;
    top: 420px;


} */

.horainput{
    background: rgb(38, 38, 124);
    color: whitesmoke;
    font-weight: bold;
    font-size: 25px;
    width: 170px;

}

.lblhora{
    padding: 15px 5px;
    width: 150px;
}

.reloj{
    width: 85%;


}

.relojero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

}


.divobserva{
    min-width: 370px;
    max-width: 370px;
}


.area-obs{
    width: 60%;
    min-width: 500px;

}

.refe{
    margin-right: 57px; 

}
.des{
    margin-right: 45px; 
}

.fecha {
    font-weight: bold;
    font-size: 16px;

}






/* /fecha de gasto o de deposito/ */

/* formulario2 */



.flex1{

    display: grid;
    grid-template-columns: 2fr 2fr;
    min-width: 500px;
    border: 2px sold black;
    min-width: 100px;

}

.hora{
    min-width: 100px;
    border: 4px solid black;
    /* width: 70%; */
    width:200PX;
    font-size: 25px;
    font-weight: bold;
    background: rgb(102, 76, 129);
    color: white;
    text-align: center;
    font-weight: bold;
}
@media (max-width: 1015px) {
    .hora{
      margin-left: 20px;
    }
  }


.fecha{

    min-width: 90px;
    padding: 18px 0 0 0;
    margin-left: 10px;
    font-size: 20px;
    width: 100%;
    
}
label{
    padding: 5px 5px;
}

input, select, textarea{
    padding: 5px 5px;
    outline: none;
    border: 3px solid rgb(18 255 255);
    border-radius: 7px;
    padding: 10px 10px;
    font-size: 17px;
}

input:focus, select:focus, textarea:focus{
    box-shadow: inset 0 0px 1px 2px rgb(18 255 255);
    
}


/* grid */

.separacion1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.separacion2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    border: 2px solid black;
}


.separacion3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    
}

.doc{
    width: 60%;
}


/* SEGUNDA TABLA */


.form2{
    padding: 20px;
    border-radius: 15px;
    position:relative;
    top: -800px;
    left: 490px;
    min-width: 450px;
    max-width: 450px;
    min-height: 720px;
    max-height: 720px;

    outline: none;
    border: 4px dashed black;
    width: 15%;
    background: rgba(206, 158, 255, 0.199);
}

.form2:hover{
    box-shadow: inset 0 0px 20px 2px rgb(105, 158, 83);
}

.fecha-cta{

    text-align: center;
    width: 100%;
    border: 4px solid black;
    border-radius: 10px;
    margin: 20px 0 20px 0;
    background: rgb(205, 238, 228);

    padding: 10px 40px 10px 10px;
}

.fecha-confirm{
    width: 100%;
    margin-left:15px;

}

.fecha-2{
    display: flex;

}

/* grid2 */


.operacion1, .operacion2, .operacion3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.conc{
    width: 50%;
    margin-left: 20px;
}

.form-general{
    display: block;
}


/* form3 */
.form3{
    border: 4px solid black;

    width: 25%;
    border-radius: 15px;


}

.tipo1, .tipo2, .tipo3{
    display: grid;
    grid-template-rows: 1fr;
    width: 60%;
    padding: 5px;
}

.form-componentes{
    padding: 20px;
}

.trabajadores{
    padding: 20px;
    font-weight: bold;
}

.ajuste-boton{
    width: 100%;
    margin-left: 13px;
    border: 4px solid black;
    background-color: rgb(16, 172, 36);
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 231, 123);
    cursor: pointer;
    transition: all 0.3s ease;
}

.ajuste-boton:hover{
    transform: scale(1.1);
}



.trabaja{

    border: 4px dashed black;
    padding: 25px;
    width: 35%;
    position: relative;
    top: 5px;
    border-radius: 15px;
    min-width: 450px;
    max-width: 450px;

    background: rgba(135, 191, 243, 0.281);
}

.trabaja:hover{
    box-shadow: inset 0 0px 20px 2px rgb(105, 158, 83);
}

.labeltrajador{
    background: rgb(3, 0, 5);
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 23px;
    font-weight: bold;
    position: absolute;
    top: -22px;

}

.sep{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;

}

.sep1{

    width: 100%;
    display: inline-block;

}

.opciones{
    width: 38%;
}



textarea{
    resize: none;
}

.obs{

    padding: 5px;


}

.con{
    width: 50%;
    text-align: center;
}




/* min- width */

.monto{
    min-width: 350px;

}


.concepto{
    min-width: 500px;
}



.form3{
    min-width: 500px;

}

.form-anidado{

    min-width: 400px;
    width: 100%;

}




/* RESPONSIVE DESING */

@media screen and (max-width: 600px){
    .form1{
        display: none;
    }
}

/* ventana modal */




